{% extends 'layouts/main.html' %}

{% set active_page = "registration" %}
{% block title %}Registration{% endblock %}

{% block content %}

<h2>Registration template</h2>

{% from "helpers/_formhelpers.html" import render_field %}

<form method="POST" action="/">
	{{ form.csrf_token }}

	{{ render_field(form.mandrill_key) }}
	{{ render_field(form.mandrill_field_name) }}
	{{ render_field(form.mandrill_field_email) }}

	<input type="submit" class="btn btn-primary" name="Send">
</form>

{% endblock %}