{% extends 'layouts/main.html' %}
{% set active_page = "welcome-back" %}

{% block title %}Welcome Back{% endblock %}
{% block content %}

<h2>Welcome Back template</h2>

{% from "helpers/_formhelpers.html" import render_field %}

<div>
<form method="POST" action="/welcome-back/">
	{{ form.csrf_token }}

	{{ render_field(form.mandrill_key) }}
	{{ render_field(form.mandrill_field_name) }}
	{{ render_field(form.mandrill_field_email) }}
	{{ render_field(form.mandrill_field_gift_code) }}
	{{ render_field(form.mandrill_field_gift_code_value) }}

	<input type="submit" class="btn btn-primary" name="Send">
</form>
</div>
{% endblock %}