<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	{% set navigation_bar = [
		('/', 'registration', 'Registration example'),
		('/welcome-back/', 'welcome-back', 'Welcome Back example')
	] -%}
	{% set active_page = active_page|default('registration') -%}

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					Mandrill API
				</a>
				<ul class="nav navbar-nav">
					{% for href, id, caption in navigation_bar %}
						<li{% if id == active_page %} class="active"{% endif
						%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<!-- Begin page content -->
		<main id="content" role="main" class="container">
			{% block content %}{% endblock %}
		</main>
	</div>

</body>
</html>