{% macro render_field(field) %}

  <div class="form-group">
    {{ field.label }} {{ field(class="form-control", **kwargs)|safe }}
  </div>

  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}